body {
  height: 100vh;
  margin: 0;
}

main {
  height: 100%;
}

form {
  height: 100%;
}

.container {
  display: flex;
  justify-content: center;
  height:100%;
}

.container-inner {
  width: 80%;
}

.flex-column {
  display: flex;
  flex-direction: column;
  height:100%;
}

.job-overview {
  border: 0.1em solid gainsboro;
  border-radius: 4px;
  padding: 2%;
}

.job-overview-list {
  display: flex; 
  flex-direction: column;
  gap: 13em;
  height:100%;
  overflow: scroll;
}

.job-detail {
  border:0.1em solid gainsboro;
  padding: 1em;
}

.job-detail ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1em;
}