.mainSection {
  height: 100%;
}

.layoutContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 1.2rem;
}



.headerSection {
  min-height: 0;
}



.listSection {
  min-height: 0;
  flex: 1;
}