.container {
  display: flex;
  justify-content: center;
  height: 100%;
}

.container-inner {
  width: 80%;
}

.flex-column {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.job-detail {
  border: 0.1em solid gainsboro;
  padding: 1em;
}

.job-detail ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.modal-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  width: 80%;
  height: auto;
  max-height: 75%;
  border: none;
  border-radius: 4px;
  background-color: white;
  padding: 0.4em;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  font-weight: 500;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 48px;
  height: 48px;
  background-color: transparent;
  border: none;
  border-radius: 15px;
  /* Circular shape */
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 1.5em;
  /* Adjust font size as needed */
}

.close-button:hover {
  background-color: #eee;
}

.close-button:after {
  content: 'x';
  color: black;
}